// font weight
@font-weight-black: 900;
@font-weight-bold: 700;
@font-weight-regular: 400;
@font-weight-light: 300;
@font-weight-thin: 100;

// color
@text-black: #2b2b2b;
@bk-white: #f8f8f8;
@bk-green: #34bd6e;
@text-green: #288e53;
@text-grey: #707070;
@line-grey: #d0d0d0;
@bk-grey: #e6e6e6;
