@import "../../styles/variables.less";

.menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 240px;
  display: flex;
  flex-direction: column;
  box-shadow: 3px 6px 6px 0 fade(black, 20%);
}
.menu__brand {
  margin: 45px 0 13px 51px;
}
.menu__item {
  height: 20px;
  margin-left: 35px;
  margin-top: 40px;
  font-size: 16px;
  color: @text-black;
  text-decoration: none;
  cursor: pointer;
  span {
    display: inline-block;
    line-height: 20px;
  }
  svg {
    margin-right: 10px;
  }
}
.menu__item--active {
  font-weight: bold;
}
