@import "../../styles/variables.less";

.hospital {
  padding: 69px 59px;
}
.hospital__greeting {
  font-size: 24px;
  line-height: 29px;
  color: @text-black;
}
.hospital__line {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hospital__title {
  font-size: 14px;
  line-height: 17px;
  font-weight: bold;
  color: @text-black;
}
.hospital__table {
  margin-top: 23px;
}
.hospital__link {
  border: none;
  text-decoration: underline;
  font-size: 16px;
  font-style: italic;
  font-family: Lato, sans-serif;
  line-height: 19px;
  color: @text-grey;
  cursor: pointer;
  outline: none;
}
.department__line {
  display: flex;
  justify-content: space-between;
}
.department__addButton {
  margin-right: 52px;
}
.department__title {
  margin-top: 50px;
}
.department__table {
  margin-top: 34px;
}
.doctor__form {
  margin-top: 50px;
  width: 420px;
  input {
    margin-bottom: 32px;
  }
}
.doctor__complete {
  margin-right: 44px;
}
.depModal {
  width: 400px;
  height: 300px;
  padding: 39px 53px 50px 53px;
}
.depModal__title {
  font-size: 22px;
  font-weight: bold;
  line-height: 27px;
}
.depModal__input {
  margin-top: 44px;
}
.depModal__buttons {
  margin-top: 55px;
  display: flex;
  justify-content: space-between;
}
